
@{
    ViewData["Title"] = "IndexAdmin";
}

<h1>IndexAdmin</h1>



<ul>
    <li>
        <button type="button">
            <a asp-area="" asp-action="" asp-controller="">View All User</a>
        </button>
    </li>
    <li>
        <button type="button">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="CreateBook">Create Book</a>
        </button>
    </li>
    <li>
        <button type="button">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="ShowAllBook">Show All Book</a>
        </button>
    </li>
</ul>
